---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-4xl">Astro HTMX Demo</h3>
		<p>
			This is a demo of Astro with HTMX with the following demos:
		</p>
		<br>
		<p>
			<a class="link link-secondary" href="/count">Counter</a>: Keep a counter in a database.
		</p>
		<p>
			<a class="link link-secondary" href="/events">Events</a>: SSE (Server-Sent Events) with HTMX.
		</p>
	</main>
</Layout>
