---
import Layout from "../layouts/Layout.astro";
import { getSession } from "auth-astro/server";
import { SignIn, SignOut } from 'auth-astro/components'

const session = await getSession(Astro.request);
---

<Layout title="Login page">
    <main>
        {session ? <p>Welcome {session.user?.name}</p> : <p>Not logged in</p>}
        <SignIn class="btn" provider="github">Login</SignIn>
        <SignOut class="btn">Logout</SignOut>
        <br />
        <p>
            You can try to go to the
            <a class="link link-primary" href="/secret">secret</a> if you are logged
            in...
        </p>
    </main>
</Layout>
