---
import AuthenticatedLayout from "../layouts/AuthenticatedLayout.astro";
---

<AuthenticatedLayout title="Login page">
    <main>
        <p>Wow! You are allowed to see the secret!</p>
    </main>
</AuthenticatedLayout>
