---
import Layout from "../layouts/Layout.astro";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
---

<Layout title="Login page">
    <main>
        {
            session ? (
                <p>Wow! You are allowed to see the secret!</p>
            ) : (
                <p>Sorry, this is too secret for you...</p>
            )
        }
    </main>
</Layout>
